/* Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: greenyellow;
}

/* Main body */
body {
    background-color: paleturquoise;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lora', serif;
}

/* Footer */
footer {
    background-color: pink;
}

/*Main section*/
main {
    flex: 1 0 auto;
    margin-top: 37px;
}