/* Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

/* Selector used to override default browser settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    position: fixed;
    background-color: #32373B;
    padding: 0 1rem;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Vollkorn', 'Times New Roman', Times, serif;
}

header a {
    text-decoration: none;
    color: #F4D6CC;
    margin: 10px;
}

header i {
    margin: 10px 5px;
    color: #F4D6CC;

}

/* Navbar with dropdown toggle */
#menu {
    position: absolute;
    display: none;
    background-color: #32373B;
    width: 30%;
    height: fit-content;
    top: 72px;
    right: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000000;
    font-size: 110%;
}

#menu li {
    list-style-type: none;
}

#menu li:hover {
    background-color: #242323;
    border-radius: 50%;
}

#nav-bars:checked~nav {
    display: block;
}

#nav-bars {
    display: none;
}

.nav-bars-label {
    font-size: 2rem;
    margin: 10px;
}

.active {
    border-bottom: 1px solid #F4D6CC;
}


/* Body general styles */
body {
    background-color: #F4D6CC;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lora', 'Times New Roman', Times, serif;
    color: #32373B;
}

h1, h2, h3 {
    color: #F4D6CC;
    font-family: 'Vollkorn', serif;
}

/*Main section*/
main {
    flex: 1 0 auto;
    margin-top: 72px;
}

/* Footer */
footer {
    background-color: #4A5859;
    height: 42px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#social-networks {
    text-align: center;
    font-size: 170%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 5px;
}

#social-networks i {
    color:#F4D6CC;
}

/* Media query for screens smaller than 343 px*/

@media screen and (max-width: 343px) {

    /* Header and navbar */
    header a {
        font-size: 80%;
        margin: 0;
    }

    header i {
        font-size: 80%;
        margin: 0;
    }

    #menu {
        top: 64px;
    }
}

/* Media query for screens larger than 768px */

@media screen and (min-width: 768px) {

    /* Header and navbar */

    header {
        height: 100px;
        width: 100%;
    }

    #logo {
        font-size: 150%;
        padding: 15px 5px;
        text-align: center;
    }

    #menu {
        display: block;
        width: fit-content;
        position: relative;
        box-shadow: none;
        padding-right: 1rem;
        top: 0;
        font-size: 150%;
    }

    #pages {
        display: flex;
    }
 
    .nav-bars-label {
        display: none;
    }
    /* Main content */

    main {
        margin-top: 100px;
    }
    
}