/* Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

/* Selector used to override default browser settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body general styles */
body {
    background-color: #F4D6CC;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lora', 'Times New Roman', Times, serif;
    color: #32373B;
    overflow-x: hidden;
}

h1 {
    color: #f7f3ef;
    font-family: 'Vollkorn', serif;
    font-size: 200%;
}

h2,
h3 {
    color: #32373B;
    font-family: 'Vollkorn', serif;
}

/* Header */
header {
    position: fixed;
    background-color: #32373B;
    padding: 0 1rem;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: 'Vollkorn', 'Times New Roman', Times, serif;
}

header a {
    text-decoration: none;
    color: #f7f3ef;
    margin: 10px;
}

header i {
    margin: 10px 5px;
    color: #f7f3ef;

}

/* Navbar with dropdown toggle */
#menu {
    position: absolute;
    display: none;
    background-color: #32373B;
    width: 30%;
    height: fit-content;
    top: 72px;
    right: 0;
    padding: 5px;
    box-shadow: 0 2px 2px #000000;
    font-size: 110%;
    text-align: center;
}

#menu li {
    list-style-type: none;
}

#menu li:hover {
    background-color: #242323;
    border-radius: 50%;
}

#nav-bars:checked~nav {
    display: block;
}

#nav-bars {
    display: none;
}

.nav-bars-label {
    font-size: 2rem;
    margin: 10px;
}

.active {
    border: 1px solid #f7f3ef;
    border-radius: 50%;
    padding: 0 20px;
    text-align: left;
    margin: auto;
}

/*Main section*/
main {
    flex: 1 0 auto;
    /* Add margin to the top and bottom so the content doesn't get covered by either of them */
    margin-top: 72px;
    margin-bottom: 42px;
    /* Enable flex properties */
    display: flex;
    flex-direction: column;
}

hr {
    border: 1px solid #32373B;
    margin: 15px 0;
}

/* Hero section */
#hero-image {
    background: url('../images/hero-image.jpg') no-repeat center center / cover;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 600px;
    position: relative;
}

#cover-text {
    text-align: center;
    text-shadow: 2px 2px 5px #df2792;
    background-color: rgba(0, 0, 0, .5);
    color: #f7f3ef;
    z-index: 99;
    margin-bottom: 15px;
    font-size: 170%;
    border: 5px;
    padding: 10px 5px 15px;
}

h3 {
    font-size: 130%;
    text-align: center;
    text-decoration: underline;
    padding: 5px;
    margin-bottom: 15px;
}

.about-us-title {
    background-color: rgba(0, 0, 0, .5);
    color: #f7f3ef;
    margin: 0;
}

.about-us {
    background-color: rgba(0, 0, 0, .5);
    color: #f7f3ef;
    margin: 0;
    padding: 10px 5px;
    font-weight: bold;
    font-style: italic;
}

/* Cats section */
#our-cats {
    text-align: center;
    margin: 20px 10px;
}

#images img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#images figure {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    background-color: #242323;
    color: #f7f3ef;
    margin: 10px;
    border: 2px solid #242323;
    border-radius: 8px;
    padding: 15px;
}

/* Testimonials section */
.client-review img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#testimonials div {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    background-color: #242323;
    color: #f7f3ef;
    margin: 10px;
    border: 2px solid #242323;
    border-radius: 8px;
    padding: 15px;
}

/* Services Page */
.cover img {
    width: 100%;
    height: auto;
    position: relative;
}

#intro-services {
    background-color: rgba(0, 0, 0, .5);
    color: #f7f3ef;
    font-size: 150%;
    font-weight: lighter;
    position: absolute;
    z-index: 99;
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px;
    margin: 55px 0;
}

/* Services description section */
table {
    width: 50%;
    text-align: center;
    background-color: #f7f3ef;
    border: 2px solid #32373B;
    margin: auto;
}

th,
td {
    border-bottom: 1px solid #32373B;
}

tr:hover {
    background-color: #b9b2b2;
}

#description-services div {
    background-color: #f7f3ef;
    margin: 20px;
    border: 2px solid #f7f3ef;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

/* Gallery section */
#gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 10px 5px;
}

#gallery img {
    width: 45%;
    height: auto;
    position: relative;
    border-radius: 50%;
    margin: 10px 0;
}

/* Contact page */

#contact {
    background: url("../images/contact-image.jpg");
    background-size: cover;
    background-position: 75%;
}

#contact-form {
    background-color: rgba(0, 0, 0, .5);
    color: #f7f3ef;
    font-size: 80%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;
}

#contact-form>h2 {
    color: #f7f3ef;
    margin-bottom: 15px;
    margin-left: 20px;
    text-align: left;
    font-size: xx-large;
}

input,
textarea {
    /*This is for the browser to calculate the size of the box with given border - credits to W3Schools*/
    box-sizing: border-box;
    padding: 5px;
    margin: 5px 0;
    border-radius: 8px;
    /* Remove the default outline to style our own - credits to W3Schools*/
    outline: none;
}

input:focus,
textarea:focus {
    border: 2px solid #F4D6CC;
    background-color: #F4D6CC;
}

.button {
    width: 50px;
    border: 2px solid #32373B;
    background-color: #F4D6CC;
    font-family: 'Lora', 'Times New Roman', Times, serif;
    font-size: small;
    font-weight: bold;
}

#location-info {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    align-content: space-around;
    justify-content: space-evenly;
}

#opening-hours {
    margin: 20px;
    flex-basis: 500px;
}

#contact-address {
    text-align: center;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f7f3ef;
    border-radius: 8px;
}

#contact-address>h3 {
    font-size: 100%;
    margin: 0;
}

#contact-address>p {
    font-size: 90%;
}

/* Footer */
footer {
    background-color: #4A5859;
    height: 42px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#social-networks {
    text-align: center;
    font-size: 170%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 5px;
}

#social-networks i {
    color: #f7f3ef;
}

/* Media query for screens smaller than 343 px*/

@media screen and (max-width: 343px) {

    /* Header and navbar */
    header a {
        font-size: 80%;
        margin: 0;
    }

    header i {
        font-size: 80%;
        margin: 0;
    }

    #menu {
        top: 64px;
        padding: 5px;
    }

    /* Main section */
    main {
        margin-top: 64px;
    }

    /* Hero section */
    #cover-text {
        font-size: 140%;
    }

    /* Services page */
    #intro-services {
        margin: 23px 0;
    }
}

/* Media query for screens larger than 768px */

@media screen and (min-width: 768px) {

    /* Header and navbar */
    header {
        height: 100px;
        width: 100%;
        font-size: 100%;
    }

    #logo {
        font-size: 170%;
        padding: 15px 5px;
        margin-bottom: 20px;
        text-align: center;
    }

    #menu {
        display: block;
        width: fit-content;
        position: relative;
        box-shadow: none;
        padding-right: 1rem;
        top: 0;
        font-size: 130%;
    }

    #pages {
        display: flex;
    }

    .nav-bars-label {
        display: none;
    }

    /* Main content */
    main {
        margin-top: 100px;
    }

    /* Hero section */
    #hero-image {
        width: 100%;
    }

    #cover-text {
        font-size: 230%;
    }

    .about-us-title {
        font-size: 190%;
        background-color: rgba(0, 0, 0, .5);
        color: #f7f3ef;
        margin-top: 40px;
    }

    .about-us {
        text-align: center;
        font-style: italic;
        font-weight: bold;
        font-size: 130%;
        background-color: rgba(0, 0, 0, .5);
        color: #f7f3ef;
        margin: 0;
        border: 2px;
        padding: 10px 50px;
        display: flex;
        align-items: center;

    }

    h3 {
        font-size: 190%;
    }

    /* Cats section */
    .cats-intro {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 30%;
        margin: 0;
        border: 15px;
        padding: 15px;
        /* To align the boxes side by side I used float from W3Schools website */
        float: left;
    }

    .cats-intro img {
        width: 100%;
        height: auto;
    }

    /* Testimonials section */
    .client-review {
        display: flex;
        flex-flow: row wrap;
        width: 30%;
        margin: 20px;
        border: 20px;
        padding: 20px;
        /* To align the boxes side by side I used float from W3Schools website */
        float: left;
    }

    .client-review img {
        width: 100%;
        height: auto;
    }

    /* Services page */
    #intro-services {
        font-size: 300%;
        margin: 110px 0;
    }

    /* Contact page*/

    input {
        width: 400px;
    }

    textarea {
        width: 400px;
        height: auto;
    }

}